<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="GrafolitOTPEntities" connectionString="metadata=res://*/DomainOTP.Grafolit_OTP.csdl|res://*/DomainOTP.Grafolit_OTP.ssdl|res://*/DomainOTP.Grafolit_OTP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.10;user id=martinp;password=m123.;integrated security=False;initial catalog=GrafolitOTP_Prod1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GrafolitPDOEntities" connectionString="metadata=res://*/DomainPDO.Grafolit_PDO.csdl|res://*/DomainPDO.Grafolit_PDO.ssdl|res://*/DomainPDO.Grafolit_PDO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.10;initial catalog=GrafolitPDO;user id=martinp;password=m123.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <appSettings>
    <add key="EmailFrom" value="bovianplus@gmail.com"/>
    <add key="EmailFromForDB" value="bovianplus@gmail.com"/>
    <add key="ServerTagOTP" value="http://otp.bovianplus.si"/>
    <!--<add key="ServerTagOTP" value="http://localhost:31694/"/>-->

    <!--<add key="ScheduleMode" value="Dnevno"/>-->
    <add key="ScheduleMode" value="Interval"/>
    <add key="IntervalMin" value="1"/>
    <add key="ScheduledTime" value="12:59"/>

    <add key="CARRIER_CONGRATS_OR_BETTER_LUCK_NEXT_TIME_MAIL" value="Templates\CarrierCongratsOrBetterLuckNextTimeMail.html"/>
    <add key="LOGISTICS_MAIL" value="Templates\LogisticsMail.html"/>
    <add key="LOGISTICS_PARTIAL_MAIL" value="Templates\LogisticsPartialMail.html"/>
    <add key="SUPPLIER_MAIL_ORDER" value="D:\Projekti\AnalizaProdaje\DatabaseWebService\Common\EmailTemplates\SupplierMailOrder.html"/>
    <add key="ADMIN_EMAIL_RECALL" value="D:\Projekti\AnalizaProdaje\DatabaseWebService\Common\EmailTemplates\AdministratorEmail_Odpoklic.html"/>
    <add key="ServerTagCarrierPage" value="http://otp.bovianplus.si"/>
    <add key="PantheonCreatePDFPath" value="C:\\TEMP\\"/>
    
    <add key="PantheonEXEFile" value="C:\\DataLabSI\\AvtomatskaNarocila\\Pantheon.exe\\"/>
    <add key="PantheonEXEArgs" value="/S=MVGL001 /L=AVTNAR:@vTOM4t*kA /UDatabaseName=DatabaseNameDB"/>
    <add key="PantheonDB" value="Grafolit55SI"/>
    <add key="PantheonEXETimeOut" value="180000"/>
    
  </appSettings>
</configuration>
